{% extends 'base.html' %}
{% block title %}- Register Done{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-info">
            등록 성공 {{new_user.username}}님 환영합니다.
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {{form.as_p}}
            {% csrf_token %}
            <a class="btn btn-info" href="/">Move to main</a>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}